


{% extends "Distri/base.html" %}

{% load static %}


    {% block cuerpo %}

    <br><br><br><br><br>

                    <body>
                        <div class="row">
                        <div class="-lg-4 ms-auto"><p class="lead">Leches</p></div>
                        </div>

                       <br>
                
                      <ul>
                          {% for p in milk %}
                              <li>
                                  Marca:  {{p.marca}}<br>Precio:  ${{p.precio}}<br>Email:  {{p.email}}

                              </li>
                          {% endfor %}
                      </ul>

                    </body>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'agreg'%}">Agregar productos</a></li>

              <body>
                <form action=""    method="POST">{% csrf_token %}
                    <table> 
            
                       {{ miFormulario.as_table}}
            
                    </table> 
                    <input type = "submit" value="Enviar">
                 </form>   
            </body>

     {% endblock cuerpo %}
